body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: burlywood;
}
p{
color: red;
}

.loginbox{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

h1{
    position: absolute;
    top: 10%;
    left: 45%;
    color: white;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
width: 100%;
overflow: hidden;
font-size: 15px;
padding: 8px 0;
margin: 8px 0;
border-bottom: 1px solid greenyellow;
}

.btn{
    width: 100%;
    background: none;
    border: 2px solid greenyellow;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
}

.signupbtn{
	position: absolute;
    top:62%;
	left: 40%;
    width: 300px;
    background: none;
    border: 2px solid greenyellow;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
	text-align: center;
	font-size: 13px;

}

a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.extrabutton{
	border: 2px solid greenyellow;
    margin: 12px 0;
	text-align: center;
	padding: 5px;
    cursor: pointer;
	width: 300px;
	font-size: 13px;
	color: white;
}
.loginbtn{
    border: 2px solid greenyellow;
    margin: 12px 0;
	text-align: center;
	padding: 5px;
    cursor: pointer;
	width: 300px;
	font-size: 13px;
	color: white;
}